/*seletor:pseudo-classe {
    propriedade: valor;
}*/

p:first-child {
    color: aquamarine;
}

p:last-child {
    color: blueviolet;
}

p:not(.padrao) {
    color: yellow;
}

p:nth-child(odd) {
    color: red;
}

li:nth-child(even) {
    color: brown;
}

li:nth-child(2n) {
    color: pink;
}

li:nth-child(1) {
    color: orangered;
}

li:nth-last-child(1) {
    color: green;
}

p:only-child {
    color: blue;
}


