@charset "UTF-8";

table {
    width: 200px;
    height: 100px;
}

.texto {
    color: white;
}

.cabecalho_moda {
    background-color: #BB86FC;
}

.cabecalho_casa {
    background-color: #00C4B4;
}

.valores_tabela {
    background-color: #424250;
}