@media(max-width: 1440px) {
    .pinturas {
        max-width: 900px;
        margin: 30px 0px;
        gap: 0;
    }
}

@media(max-width: 650px) {
    .pinturas {
        flex-direction: column;
    }
}
