* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text-color: hsl(193, 38%, 86%);
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: hsl(218, 23%, 16%);
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(217, 19%, 24%);
    border-radius: 10px;
    padding: 20px;
    max-width: 450px;
}

.card .id-conselho {
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    margin-top: 30px;
}

.card .descricao-conselho {
    font-size: 23px;
    padding: 23px;
    text-align: center;
    color: hsl(193, 38%, 86%);
}

.card picture img {
    width: 100%;
}

.card .atualizar-conselhos {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: hsl(150, 100%, 66%);
    transform: translateY(10%);
}

.card .atualizar-conselhos:hover {
    color: #08e67a;
    cursor: pointer;
    box-shadow: 0 5px 15px hsl(150, 100%, 66%);
}